@model CustomerAddressDto?

<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="addressModalModalLabel">Add Customer Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <form id="customerAddressForm">
                    <input type="hidden" disabled id="updateListId">
                    <div class="row g-3 needs-validation">
                        <div class="col-md-12">
                            <label class="form-label">Full Address</label>
                            <span class="text-danger">*</span>
                            <textarea class="form-control" asp-for="Address" rows="2"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">City</label>
                            <span class="text-danger">*</span>
                            <input class="form-control" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">District</label>
                            <span class="text-danger">*</span>
                            <input class="form-control" asp-for="District">
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">State</label>
                            <span class="text-danger">*</span>
                            <input class="form-control" asp-for="State">
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">PinCode</label>
                            <span class="text-danger">*</span>
                            <input class="form-control" asp-for="PinCode" maxlength="6">
                            <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Phone No</label>
                            <input class="form-control" asp-for="PhoneNo" maxlength="13">
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>

                        <div class="col-12" id="addAddressDiv">
                            <button type="button" class="btn btn-secondary btn-label waves-effect waves-light" onclick="addAddress()">
                                <i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>
                                Save
                            </button>
                        </div>

                        <div class="col-12" id="updateAddressDiv">
                            <button type="button" class="btn btn-secondary btn-label waves-effect waves-light" onclick="updateAddress()">
                                <i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>
                                Update
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>