@model CustomerDto
@{
    var addOrEdit = Model is null
                    ? "Add"
                    : "Edit";

    ViewData["Title"] = $"{addOrEdit} Customer";

    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Customer</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Customer</li>
                    <li class="breadcrumb-item active">@addOrEdit</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Customer</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form class="row g-3 needs-validation" asp-action="AddEdit">
                    <input class="form-control" asp-for="Id" type="hidden" readonly>
                    <div class="col-md-6">
                        <label class="form-label">First Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="FirstName" maxlength="50" required>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Last Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="LastName" maxlength="50" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Email Address</label>
                        <input class="form-control" asp-for="Email" maxlength="100">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Mobile number</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="PhoneNo" type="number" required>
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Address</label>
                        <span class="text-danger">*</span>
                        <textarea class="form-control" rows="2" asp-for="Address" maxlength="250" required></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">City</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="City" maxlength="25" required>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Pincode</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="PinCode" required>
                        <span asp-validation-for="PinCode" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary btn-label waves-effect waves-light">
                            <i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#PinCode').keypress(function (e) {
            return $(this).val().length < 6;
        });
        $('#PhoneNo').keypress(function (e) {
            return $(this).val().length < 10;
        });
    </script>
}