@{
    ViewData["Title"] = "List Order";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Order</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Order</a>
                    </li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Order</h5>
                <div>
                    <a asp-action="Index" asp-controller="Customer" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Add Order From Customer
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link All py-3 active" data-bs-toggle="tab" id="All" href="#home1" role="tab" aria-selected="false" tabindex="-1">
                            <i class="ri-store-2-fill me-1 align-bottom"></i> All Orders
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 Pending" data-bs-toggle="tab" id="Pending" href="#pending" role="tab" aria-selected="false" tabindex="-1">
                            <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Pending
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 InProgress" data-bs-toggle="tab" id="InProgress" href="#inProgress" role="tab" aria-selected="false" tabindex="-1">
                            <i class="ri-truck-line me-1 align-bottom"></i> In Progress
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 Cancelled" data-bs-toggle="tab" id="Cancelled" href="#cancelled" role="tab" aria-selected="true">
                            <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 Returns" data-bs-toggle="tab" id="Returns" href="#returns" role="tab" aria-selected="false" tabindex="-1">
                            <i class="ri-arrow-left-right-fill me-1 align-bottom"></i> Returns
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 Delivered" data-bs-toggle="tab" id="Delivered" href="#delivered" role="tab" aria-selected="false" tabindex="-1">
                            <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Delivered
                        </a>
                    </li>
                </ul>
                <table id="grid" class="display table caption-top table-nowrap" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Id</th>
                            <th>Customer Name</th>
                            <th>Amount</th>
                            <th>Order Date</th>
                            <th>Order Items</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="js/custom/orderDatatable.js"></script>
}