@model AccessoriesDto

<form class="row g-3 needs-validation" asp-action="AddEdit" enctype="multipart/form-data">
    <div class="col-md-6">
        <input asp-for="Id" type="hidden">
        <input asp-for="Image" type="hidden">
        <label class="form-label">Accessories Name</label>
        <span class="text-danger">*</span>
        <input class="form-control" asp-for="Name" maxlength="100" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label">Quantity</label>
        <span class="text-danger">*</span>
        <input class="form-control" asp-for="Quantity" required>
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label class="form-label">Description</label>
        <textarea class="form-control ckeditor-classic" asp-for="Description" rows="2" maxlength="250"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label">Upload Image <span class="text-info">(Only images are allowed.)</span></label>
        <input class="form-control md-2" asp-for="File" accept="image/*">
        <div class="profile-user position-relative d-inline-block mx-auto mt-3" id="ImageDiv">
            @if (Model?.Image is null)
            {
                @*<img id="imageContainer" src="~/images/users/avatar-1.jpg" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">*@
            }
            else
            {
                <img id="imageContainer" src="@Model.Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                    <label for="profile-img-file-input" class="profile-photo-edit avatar-xs" onclick='deleteImage()'>
                        <span class="avatar-title rounded-circle bg-light text-body shadow">
                            <i class="ri-delete-bin-line"></i>
                        </span>
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-secondary btn-label waves-effect waves-light">
            <i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>
            Save
        </button>
    </div>
</form>