@model AccessoriesDto
@{
    ViewData["Title"] = "Detail Accessories";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Accessories</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Accessories</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Accessories</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body row g-3">
                <div class="col-md-6">
                    <label class="form-label">Accessories Name</label>
                    <label class="form-control">@Model.Name</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Quantity</label>
                    <label class="form-control">@Model.Quantity</label>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Description</label>
                    <textarea class="form-control ckeditor-classic" asp-for="Description" rows="2" readonly></textarea>
                </div>

                @if (Model.Image is not null)
                {
                    <div class="col-md-6">
                        <label class="form-label">Product Image</label><br />
                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                            <img src="@Model.Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>